.no_header{width:100%;height:50px;}
.ctbox{width:100vw;height:100vh;padding:0px 0px;}
.no_content{width:100%;height:60%;padding: 0px 20px;}
.no_title{width:100%;height: 60px;line-height: 60px;}
.title_txt{font-size:24px;}
.no_inbox{width:100%;height:300px;margin-top:10px;}
.inputbox{width:100%;height:100px;}
.input_title{width:100%;height:26px;}
.input_div{width:100%;height: 50px;line-height: 50px;border-radius: 5px;padding: 0px 10px;background: #F5F5F5;}
.cinput{width:100%;padding:5px;height:45px;background: #F5F5F5;border:none;height: 30px;font-size:16px;}
.no_button_box{width:90%;height:25px;position: fixed;bottom: 50px;left: 5%;}
.small_hs_btn{width:50px;height: 50px;line-height: 50px;background: #0052fe;float:right;border-radius:5px;text-align: center}
.bi_right{font-size: 26px;font-weight: bold;color:#333;}
.regxybox{width:70%;height: 50px;float:left;line-height: 50px;}


















