<header class="css-jmskxt">
	 <a href="{:U('Index/index')}" clss="css-1mvf8us">
	     <img src="/Upload/public/{:get_config('waplogo')}?v=<?=time()?>" class="css-1jgk2rg" style="height:50px;width:50px;border-radius:5px;margin-left: 30px;" />
	 </a>
	<div class="css-1tp5kus header-title">
		<div class="css-vurnku  f22 fw header-title">{:L('BTCUSDT')}</div>
	</div>
	 <div class="css-1tp5kus">
	     <a href="{:U('Index/index')}" class="css-1smf7ma">
	         <div class="css-vurnku">{:L('首页')}</div>
	     </a>
	 </div>


	<div class="css-1tp5kus">
		<a href="{:U('Finance/index')}" class="css-1smf7ma">
			<div class="css-vurnku">{:L('充币')} </div>
		</a>
	</div>
	<div class="css-1tp5kus">
		<a href="{:U('Contract/index')}" class="css-1smf7ma">
			<div class="css-vurnku">{:L('秒合约')} </div>
		</a>
	</div>
	<div class="css-1tp5kus">
		<a href="{:U('Trade/index')}" class="css-1smf7ma">
			<div class="css-vurnku">{:L('币币交易')} </div>
		</a>
	</div>


	 <div class="css-1tp5kus">
	     <a href="{:U('Issue/index')}" class="css-1smf7ma">
	         <div class="css-vurnku"><img src="/Public/Home/static/imgs/hot-2.svg" class="hot-2">IEO</div>
	     </a>
	 </div>
	 <div class="css-1tp5kus">
	     <a href="{:U('Orepool/index')}" class="css-1smf7ma">
	         <div class="css-vurnku"> <img src="/Public/Home/static/imgs/hot-2.svg" class="hot-2">DeFi</div>
	     </a>
	 </div>
	 <div class="css-1tp5kus">
	     <a href="{:U('Index/gglist')}" class="css-1smf7ma">
	         <div class="css-vurnku">{:L('公告中心')}</div>
	     </a>
	 </div>
	 <div class="css-1tp5kus">
	     <a href="{:U('Index/coins')}" class="css-1smf7ma">
	         <div class="css-vurnku">{:L('空投福利')}</div>
	     </a>
	 </div>
	 <div class="css-11y6cix"></div>

	 <ul id="nav" class="nav">
	 <div class="css-wu6zme">

	     <if condition="$uid neq 0">
	     <div class="css-mu7imd nav">
	         <div class="css-1smf7ma">
	             <a href="{:U('Finance/index')}">
	             <div class="css-15owl46"  style="padding: 0px 5px;">
	                 <div class="css-vurnku" style="color:#fff;">{:L('钱包')}</div>
	             </div>
	             </a>
	         </div>
	         <div class="css-1smf7ma">
	             <li class="nLi">
	                 <div class="css-15owl46"  style="padding: 0px 5px;">
	                     <div class="css-vurnku">{:L('订单')}
	                         <i class="bi bi-caret-down-fill css-1x1srvk" style="font-size:12px;"></i>
	                     </div>
	                 </div>
	                 <ul class="sub" style="padding:0px;display:none;z-index: 999999;">
	                 <!--<div class="order_navlist" style="transform: translate(972px, 64px);">-->
	                 <div class="order_navlist" style="top: 50px;right:180px;">

	                         <li style="list-style:none;">
	                             <a href="{:U('Trade/bborder')}">
	                             <div class="optionli">
	                                 <i class="bi bi-ui-checks" style="color:#00b897;font-size:18px;"></i>
	                                 <span style="color:#EAECEF;">{:L('币币交易订单')}</span>
	                             </div>
	                             </a>
	                         </li>
	                         <li  style="list-style:none;">
	                             <a href="{:U('Contract/contractjc')}">
	                             <div class="optionli">
	                                 <i class="bi bi-sliders" style="color:#00b897;font-size:18px;"></i>
	                                 <span  style="color:#EAECEF;">{:L('合约交易订单')}</span>
	                             </div>
	                             </a>
	                         </li>
	                         <li  style="list-style:none;">
	                             <a href="{:U('Issue/normalissue')}">
	                             <div class="optionli">
	                                 <i class="bi bi-ui-radios" style="color:#00b897;font-size:18px;"></i>
	                                 <span  style="color:#EAECEF;">{:L('认购订单')}</span>
	                             </div>
	                             </a>
	                         </li>
	                         <li  style="list-style:none;">
	                             <a href="{:U('Orepool/normalmin')}">
	                             <div class="optionli">
	                                 <i class="bi bi-hammer" style="color:#00b897;font-size:18px;"></i>
	                                 <span  style="color:#EAECEF;">{:L('矿机订单')}</span>
	                             </div>
	                             </a>
	                         </li>

	                 </div>
	                 </ul>
	             </li>
	         </div>


	         <div class="css-1smf7ma">
	             <li class="nLi">
	                 <div class="css-15owl46" style="padding: 0px 5px;">
	                     <div class="css-vurnku">
	                         <a href="{:U('User/index')}" style="color: #fff;">
	                         <i class="bi bi-person-circle" style="font-size:20px;"></i>
	                         </a>
	                     </div>
	                 </div>
	                 <ul class="sub" style="padding:0px;display:none;z-index: 999999;">
	                 <div class="order_navlist" style="min-width:220px;top: 60px;right:60px;">

	                         <li style="list-style:none;">
	                             <div style="width:100%;height:50px;line-height:50px;text-align:left;padding:0px 15px;">
	                                 <span style="font-size:16px;font-weight:bold;color:#EAECEF;">{$username}</span>
	                                 <if condition="$rzstatus eq 2">
	                                 <span class="f12 fgreen">{:L('已认证')}</span>
	                                 <else />
	                                 <span class="f12 fred">{:L('未认证')}</span>
	                                 </if>
	                             </div>
	                         </li>

	                         <li  style="list-style:none;">
	                             <a href="{:U('User/index')}">
	                             <div class="optionli">
	                                 <i class="bi bi-person-fill" style="color:#00b897;font-size:18px;"></i>
	                                 <span  style="color:#EAECEF;">{:L('账户总览')}</span>
	                             </div>
	                             </a>
	                         </li>
	                         <li  style="list-style:none;">
	                             <a href="{:U('User/respwd')}">
	                             <div class="optionli">
	                                 <i class="bi bi-gear" style="color:#00b897;font-size:18px;"></i>
	                                 <span  style="color:#EAECEF;">{:L('安全设置')}</span>
	                             </div>
	                             </a>
	                         </li>
	                         <li  style="list-style:none;">
	                             <a href="{:U('User/authrz')}">
	                             <div class="optionli">
	                                 <i class="bi bi-shield-fill" style="color:#00b897;font-size:18px;"></i>
	                                 <span  style="color:#EAECEF;">{:L('身份认证')}</span>
	                             </div>
	                             </a>
	                         </li>
	                         <li  style="list-style:none;">
	                             <a href="{:U('User/tgcode')}">
	                             <div class="optionli">
	                                 <i class="bi bi-person-plus-fill" style="color:#00b897;font-size:18px;"></i>
	                                 <span  style="color:#EAECEF;">{:L('推荐返佣')}</span>
	                             </div>
	                             </a>
	                         </li>

	                         <li  style="list-style:none;">
	                             <a href="{:U('Login/loginout')}">
	                             <div class="optionli" style="border-top:1px solid #f5f5f5;">
	                                 <i class="bi bi-box-arrow-right" style="color:#00b897;font-size:18px;"></i>
	                                 <span  style="color:#EAECEF;">{:L('退出账号')}</span>
	                             </div>
	                             </a>
	                         </li>

	                 </div>
	                 </ul>

	             </li>

	         </div>
	         <div class="css-1smf7ma">

	             <div class="css-15owl46" style="padding: 0px 5px;">
	                 <a href="{:U('User/notice')}" style="color: #fff;">
	                 <div class="css-vurnku">
	                     <i class="bi bi-bell css-6px2js" style="font-size:20px;"></i>
	                     <if condition="$sum egt 1">
	                     <div class="css-1rch7es">{$sum}</div>
	                     </if>
	                 </div>
	                 </a>
	             </div>
	         </div>
	     </div>
	     <else />
	     <div class="css-mu7imd">
	         <a href="{:U('Login/index')}">
	         <div class="css-1smf7ma">
	             <div class="css-15owl46"  style="padding: 0px 5px;">
	                 <div class="css-vurnku">{:L('登陆')}</div>

	             </div>
	         </div>
	         </a>
	     </div>
	     <div class="css-mu7imd" style="border: 2px solid #00b897;border-radius: 5px;">
	         <a href="{:U('Login/register')}">
	         <div class="css-1smf7ma">
	             <div class="css-15owl46"  style="padding: 0px 5px;">
	                 <div class="css-vurnku" style="color: #00b897">{:L('注册')}</div>
	             </div>
	         </div>
	         </a>
	     </div>
	     </if>

	 </div>

	 <div class="css-wu6zme">
	     <li class="nLi" style="display:none">
	     <div class="css-1ql2hru" style="padding: 0px 5px;">
	         <div class="css-1smf7ma">{:L('下载')}</div>
	         <ul class="sub" style="padding:0px;display:none;z-index: 999999;">
	             <div class="order_navlist" style="min-width:220px;top: 50px;right: 60px;">
	                 <div style="width:140px;height:140px;margin:10px auto;">
<!--	                     <img src="/Public/Static/qrcode/FanamLa.png" style="width:100%;border-radius:10px;" />-->
	                     <img src="/Upload/public/{:qrcodeImg('download')}" style="width:100%;border-radius:10px;" />
	                 </div>
	                 <div style="width:100%;height:30px;line-height:30px;text-align:center;">
	                     <span style="color:#fff;font-size:12px;">{:L('自动识别设备')}</span>
	                 </div>
	             </div>
	         </ul>
	     </div>
	     </li>
	     <li class="nLi">
	     <div class="css-1ql2hru" style="padding: 0px 5px;">

	        <?php if(LANG_SET=='zh-cn'){?>
			<div class="css-1smf7ma">中文简体&nbsp;&nbsp;</div>
		    <?php }elseif(LANG_SET=='zh-tw'){?>
		 	<div class="css-1smf7ma">中文繁体&nbsp;&nbsp;</div>
			<?php }elseif(LANG_SET=='en-us'){?>
			<div class="css-1smf7ma">English&nbsp;&nbsp;</div>
			<?php }elseif(LANG_SET=='fr-fr'){?>
			<div class="css-1smf7ma">Français&nbsp;&nbsp;</div>
			<?php }elseif(LANG_SET=='de-de'){?>
			<div class="css-1smf7ma">Deutsch&nbsp;&nbsp;</div>
			<?php }elseif(LANG_SET=='it-it'){?>
			<div class="css-1smf7ma">Italiano&nbsp;&nbsp;</div>
			<?php }elseif(LANG_SET=='ja-jp'){?>
            <div class="css-1smf7ma">日本語&nbsp;&nbsp;</div>
            <?php }elseif(LANG_SET=='ko-kr'){?>
            <div class="css-1smf7ma">한국어&nbsp;&nbsp;</div>
            <?php }elseif(LANG_SET=='tr-tr'){?>
            <div class="css-1smf7ma">Türk&nbsp;&nbsp;</div>
			<?php }?>

	     </div>
	     <ul class="sub" style="padding:0px;display:none;">
	        <!--<div class="order_navlist" style="min-width:160px;transform: translate(1161px, 64px);">-->
	        <div class="order_navlist" style="min-width:160px;top:50px;right: 10px;">
				<li  style="list-style:none;">
					<a href="{:U('?Lang=zh-tw')}">
						<div class="optionli">
							<span  style="color:#EAECEF;font-size:14px;"> {:L('繁体中文')}</span>
						</div>
					</a>
				</li>
	            <li  style="list-style:none;">
	                <a href="{:U('?Lang=zh-cn')}">
	                <div class="optionli">
	                    <span  style="color:#EAECEF;font-size:14px;"> {:L('简体中文')} </span>
	                </div>
	                </a>
	            </li>
	            <li  style="list-style:none;">
	                <a href="{:U('?Lang=en-us')}">
	                <div class="optionli">
	                    <span  style="color:#EAECEF;font-size:14px;">{:L('英语')}</span>
	                </div>
	                </a>
	            </li>
	            <li  style="list-style:none;">
	                <a href="{:U('?Lang=ja-jp')}">
	                <div class="optionli">
	                    <span  style="color:#EAECEF;font-size:14px;">{:L('日语')}</span>
	                </div>
	                </a>
	            </li>
				<li  style="list-style:none;">
					<a href="{:U('?Lang=ko-kr')}">
						<div class="optionli">
							<span  style="color:#EAECEF;font-size:14px;">{:L('韩语')}</span>
						</div>
					</a>
				</li>
	       </div>
	     </li>
	 </div>
	 </ul>
</header>
