<include file="Public:header"/>
<style>
	.hoh td.item-label,.hoh td.item-note{
		height:80px;line-height:80px;
	}
	.gezibg {
		padding:5px;width:168px;background:url('/Public/Admin/ecshe_img/imgbg.png');
	}
</style>

<div id="main-content">
	<div id="top-alert" class="fixed alert alert-error" style="display: none;">
		<button class="close fixed" style="margin-top: 4px;">&times;</button>
		<div class="alert-content">警告内容</div>
	</div>
	<div id="main" class="main">
		<div class="main-title-h">
			<span class="h1-title">网站基本配置</span>
		</div>
		<div class="tab-wrap">
			<div class="tab-content">
				<form id="form" action="{:U('Config/edit')}" method="post" class="form-horizontal" enctype="multipart/form-data">
					<div id="tab" class="tab-pane in tab">
						<div class="form-item cf">
							<table>

								<tr class="controls">
									<td class="item-label">网站名称 :</td>
									<td>
										<input type="text" class="form-control input-10x" name="webname" value="{$data['webname']}">
									</td>
									<td class="item-note"></td>
								</tr>
								<tr class="controls">
									<td class="item-label">网站标题 :</td>
									<td>
										<input type="text" class="form-control input-10x" name="webtitle" value="{$data['webtitle']}">
									</td>
									<td class="item-note"></td>
								</tr>
								
								
								<tr class="controls hoh">
									<td class="item-label">手机端Logo图片 :</td>
									<td>
										<div id="addpicContainer" class="gezibg">
											<notempty name="data.weblogo">
												<img id="up_img" onclick="getElementById('weblogo_box').click()" style="cursor:pointer;max-height:62px;" title="手机端Logo图片" alt="点击添加图片" src="/Upload/public/{$data.weblogo}">
											<else/>
												<!--没有图片显示默认图片-->
												<img id="up_img" onclick="getElementById('weblogo_box').click()" style="cursor:pointer;max-height:62px;" title="手机端Logo图片" alt="点击添加图片" src="__PUBLIC__/Admin/images/addimg.png">
											</notempty>
											<input type="hidden" id="weblogo_deputy" name="weblogo" value="{$data.weblogo}">
											<input type="file" id="weblogo_box" style="height:0;width:0;z-index: -1; position: absolute;left: 10px;top: 5px;" value=""/>
										</div>
									</td>
									<td class="item-note" style="color:red;">* 200*200px</td>
								</tr>
								
								
								<tr class="controls hoh">
									<td class="item-label">PC端logo图片 :</td>
									<td>
										<div id="addpicContainer" class="gezibg">
											<notempty name="data.waplogo">
												<img id="up_img_waplogobox" onclick="getElementById('waplogo_box').click()" style="cursor:pointer;max-height:62px;" title="PC端logo图片" alt="点击添加图片" src="/Upload/public/{$data.waplogo}">
											<else/>
												<!--没有图片显示默认图片-->
												<img id="up_img_waplogobox" onclick="getElementById('waplogo_box').click()" style="cursor:pointer;max-height:62px;" title="PC端logo图片" alt="点击添加图片" src="__PUBLIC__/Admin/images/addimg.png">
											</notempty>
											<input type="hidden" id="waplogo_deputy" name="waplogo" value="{$data.waplogo}">
											<input type="file" id="waplogo_box" style="height:0;width:0;z-index: -1; position: absolute;left: 10px;top: 5px;" value=""/>
										</div>
									</td>
									<td class="item-note" style="color:red;">* 200*200px</td>
								</tr>
								
								<tr class="controls hoh">
									<td class="item-label">手机端轮播图1-英文 :</td>
									<td>
										<div id="addpicContainer" class="gezibg">
											<notempty name="data.websildea_y">
												<img id="up_img_websildea" onclick="getElementById('websildea_box').click()" style="cursor:pointer;max-height:62px;" title="手机端轮播图1_英文" alt="点击添加图片" src="/Upload/public/{$data.websildea_y}">
											<else/>
												<!--没有图片显示默认图片-->
												<img id="up_img_websildea" onclick="getElementById('websildea_box').click()" style="cursor:pointer;max-height:62px;" title="手机端轮播图1_英文" alt="点击添加图片" src="__PUBLIC__/Admin/images/addimg.png">
											</notempty>
											<input type="hidden" id="websildea_deputy" name="websildea_y" value="{$data.websildea_y}">
											<input type="file" id="websildea_box" style="height:0;width:0;z-index: -1; position: absolute;left: 10px;top: 5px;" value=""/>
										</div>
									</td>
									<td class="item-note" style="color:red;">* 700*350px</td>
								</tr>
								<tr class="controls hoh">
									<td class="item-label">手机端轮播图2-英文 :</td>
									<td>
										<div id="addpicContainer" class="gezibg">
											<notempty name="data.websildeb_y">
												<img id="up_img_websildeb" onclick="getElementById('websildeb_box').click()" style="cursor:pointer;max-height:62px;" title="手机端轮播图2英文" alt="点击添加图片" src="/Upload/public/{$data.websildeb_y}">
												<else/>
												<!--没有图片显示默认图片-->
												<img id="up_img_websildeb" onclick="getElementById('websildeb_box').click()" style="cursor:pointer;max-height:62px;" title="手机端轮播图2英文" alt="点击添加图片" src="__PUBLIC__/Admin/images/addimg.png">
											</notempty>
											<input type="hidden" id="websildeb_deputy" name="websildeb_y" value="{$data.websildeb_y}">
											<input type="file" id="websildeb_box" style="height:0;width:0;z-index: -1; position: absolute;left: 10px;top: 5px;" value=""/>
										</div>
									</td>
									<td class="item-note" style="color:red;">* 700*350px</td>
								</tr>
								<tr class="controls hoh">
									<td class="item-label">手机端轮播图3-英文 :</td>
									<td>
										<div id="addpicContainer" class="gezibg">
											<notempty name="data.websildec_y">
												<img id="up_img_websildec" onclick="getElementById('websildec_box').click()" style="cursor:pointer;max-height:62px;" title="手机端轮播图3英文" alt="点击添加图片" src="/Upload/public/{$data.websildec_y}">
												<else/>
												<!--没有图片显示默认图片-->
												<img id="up_img_websildec" onclick="getElementById('websildec_box').click()" style="cursor:pointer;max-height:62px;" title="手机端轮播图3英文" alt="点击添加图片" src="__PUBLIC__/Admin/images/addimg.png">
											</notempty>
											<input type="hidden" id="websildec_deputy" name="websildec_y" value="{$data.websildec_y}">
											<input type="file" id="websildec_box" style="height:0;width:0;z-index: -1; position: absolute;left: 10px;top: 5px;" value=""/>
										</div>
									</td>
									<td class="item-note" style="color:red;">* 700*350px</td>
								</tr>
								<tr class="controls hoh">
									<td class="item-label">手机端轮播图4-英文 :</td>
									<td>
										<div id="addpicContainer" class="gezibg">
											<notempty name="data.websilded_y">
												<img id="up_img_websilded" onclick="getElementById('websilded_box').click()" style="cursor:pointer;max-height:62px;" title="手机端轮播图3英文" alt="点击添加图片" src="/Upload/public/{$data.websilded_y}">
												<else/>
												<!--没有图片显示默认图片-->
												<img id="up_img_websilded" onclick="getElementById('websilded_box').click()" style="cursor:pointer;max-height:62px;" title="手机端轮播图3英文" alt="点击添加图片" src="__PUBLIC__/Admin/images/addimg.png">
											</notempty>
											<input type="hidden" id="websilded_deputy" name="websilded_y" value="{$data.websilded_y}">
											<input type="file" id="websilded_box" style="height:0;width:0;z-index: -1; position: absolute;left: 10px;top: 5px;" value=""/>
										</div>
									</td>
									<td class="item-note" style="color:red;">* 700*350px</td>
								</tr>



								<tr class="controls hoh">
									<td class="item-label">手机端轮播图1-中文 :</td>
									<td>
										<div id="addpicContainer_z" class="gezibg">
											<notempty name="data.websildea_z">
												<img id="up_img_websildea_z" onclick="getElementById('websildea_box_z').click()" style="cursor:pointer;max-height:62px;" title="手机端轮播图1_中文" alt="点击添加图片" src="/Upload/public/{$data.websildea_z}">
												<else/>
												<!--没有图片显示默认图片-->
												<img id="up_img_websildea_z" onclick="getElementById('websildea_box_z').click()" style="cursor:pointer;max-height:62px;" title="手机端轮播图1_中文" alt="点击添加图片" src="__PUBLIC__/Admin/images/addimg.png">
											</notempty>
											<input type="hidden" id="websildea_deputy_z" name="websildea_z" value="{$data.websildea_z}">
											<input type="file" id="websildea_box_z" style="height:0;width:0;z-index: -1; position: absolute;left: 10px;top: 5px;" value=""/>
										</div>
									</td>
									<td class="item-note" style="color:red;">* 700*350px</td>
								</tr>
								<tr class="controls hoh">
									<td class="item-label">手机端轮播图2-中文 :</td>
									<td>
										<div id="addpicContainer_z" class="gezibg">
											<notempty name="data.websildeb_z">
												<img id="up_img_websildeb_z" onclick="getElementById('websildeb_box_z').click()" style="cursor:pointer;max-height:62px;" title="手机端轮播图2中文" alt="点击添加图片" src="/Upload/public/{$data.websildeb_z}">
												<else/>
												<!--没有图片显示默认图片-->
												<img id="up_img_websildeb_z" onclick="getElementById('websildeb_box_z').click()" style="cursor:pointer;max-height:62px;" title="手机端轮播图2中文" alt="点击添加图片" src="__PUBLIC__/Admin/images/addimg.png">
											</notempty>
											<input type="hidden" id="websildeb_deputy_z" name="websildeb_z" value="{$data.websildeb_z}">
											<input type="file" id="websildeb_box_z" style="height:0;width:0;z-index: -1; position: absolute;left: 10px;top: 5px;" value=""/>
										</div>
									</td>
									<td class="item-note" style="color:red;">* 700*350px</td>
								</tr>
								<tr class="controls hoh">
									<td class="item-label">手机端轮播图3-中文 :</td>
									<td>
										<div id="addpicContainer_z" class="gezibg">
											<notempty name="data.websildec_z">
												<img id="up_img_websildec_z" onclick="getElementById('websildec_box_z').click()" style="cursor:pointer;max-height:62px;" title="手机端轮播图3中文" alt="点击添加图片" src="/Upload/public/{$data.websildec_z}">
												<else/>
												<!--没有图片显示默认图片-->
												<img id="up_img_websildec_z" onclick="getElementById('websildec_box_z').click()" style="cursor:pointer;max-height:62px;" title="手机端轮播图3中文" alt="点击添加图片" src="__PUBLIC__/Admin/images/addimg.png">
											</notempty>
											<input type="hidden" id="websildec_deputy_z" name="websildec_z" value="{$data.websildec_z}">
											<input type="file" id="websildec_box_z" style="height:0;width:0;z-index: -1; position: absolute;left: 10px;top: 5px;" value=""/>
										</div>
									</td>
									<td class="item-note" style="color:red;">* 700*350px</td>
								</tr>
								<tr class="controls hoh">
									<td class="item-label">手机端轮播图4-中文 :</td>
									<td>
										<div id="addpicContainer_z" class="gezibg">
											<notempty name="data.websilded_z">
												<img id="up_img_websilded_z" onclick="getElementById('websilded_box_z').click()" style="cursor:pointer;max-height:62px;" title="手机端轮播图3中文" alt="点击添加图片" src="/Upload/public/{$data.websilded_z}">
												<else/>
												<!--没有图片显示默认图片-->
												<img id="up_img_websilded_z" onclick="getElementById('websilded_box_z').click()" style="cursor:pointer;max-height:62px;" title="手机端轮播图3中文" alt="点击添加图片" src="__PUBLIC__/Admin/images/addimg.png">
											</notempty>
											<input type="hidden" id="websilded_deputy_z" name="websilded_z" value="{$data.websilded_z}">
											<input type="file" id="websilded_box_z" style="height:0;width:0;z-index: -1; position: absolute;left: 10px;top: 5px;" value=""/>
										</div>
									</td>
									<td class="item-note" style="color:red;">* 700*350px</td>
								</tr>



								<tr class="controls hoh">
									<td class="item-label">手机端轮播图1-繁体 :</td>
									<td>
										<div id="addpicContainer_f" class="gezibg">
											<notempty name="data.websildea_f">
												<img id="up_img_websildea_f" onclick="getElementById('websildea_box_f').click()" style="cursor:pointer;max-height:62px;" title="手机端轮播图1_中文" alt="点击添加图片" src="/Upload/public/{$data.websildea_f}">
												<else/>
												<!--没有图片显示默认图片-->
												<img id="up_img_websildea_f" onclick="getElementById('websildea_box_f').click()" style="cursor:pointer;max-height:62px;" title="手机端轮播图1_中文" alt="点击添加图片" src="__PUBLIC__/Admin/images/addimg.png">
											</notempty>
											<input type="hidden" id="websildea_deputy_f" name="websildea_f" value="{$data.websildea_f}">
											<input type="file" id="websildea_box_f" style="height:0;width:0;z-index: -1; position: absolute;left: 10px;top: 5px;" value=""/>
										</div>
									</td>
									<td class="item-note" style="color:red;">* 700*350px</td>
								</tr>
								<tr class="controls hoh">
									<td class="item-label">手机端轮播图2-繁体 :</td>
									<td>
										<div id="addpicContainer_f" class="gezibg">
											<notempty name="data.websildeb_f">
												<img id="up_img_websildeb_f" onclick="getElementById('websildeb_box_f').click()" style="cursor:pointer;max-height:62px;" title="手机端轮播图2繁体" alt="点击添加图片" src="/Upload/public/{$data.websildeb_f}">
												<else/>
												<!--没有图片显示默认图片-->
												<img id="up_img_websildeb_f" onclick="getElementById('websildeb_box_f').click()" style="cursor:pointer;max-height:62px;" title="手机端轮播图2繁体" alt="点击添加图片" src="__PUBLIC__/Admin/images/addimg.png">
											</notempty>
											<input type="hidden" id="websildeb_deputy_f" name="websildeb_f" value="{$data.websildeb_f}">
											<input type="file" id="websildeb_box_f" style="height:0;width:0;z-index: -1; position: absolute;left: 10px;top: 5px;" value=""/>
										</div>
									</td>
									<td class="item-note" style="color:red;">* 700*350px</td>
								</tr>
								<tr class="controls hoh">
									<td class="item-label">手机端轮播图3-繁体 :</td>
									<td>
										<div id="addpicContainer_f" class="gezibg">
											<notempty name="data.websildec_f">
												<img id="up_img_websildec_f" onclick="getElementById('websildec_box_f').click()" style="cursor:pointer;max-height:62px;" title="手机端轮播图3繁体" alt="点击添加图片" src="/Upload/public/{$data.websildec_f}">
												<else/>
												<!--没有图片显示默认图片-->
												<img id="up_img_websildec_f" onclick="getElementById('websildec_box_f').click()" style="cursor:pointer;max-height:62px;" title="手机端轮播图3繁体" alt="点击添加图片" src="__PUBLIC__/Admin/images/addimg.png">
											</notempty>
											<input type="hidden" id="websildec_deputy_f" name="websildec_f" value="{$data.websildec_f}">
											<input type="file" id="websildec_box_f" style="height:0;width:0;z-index: -1; position: absolute;left: 10px;top: 5px;" value=""/>
										</div>
									</td>
									<td class="item-note" style="color:red;">* 700*350px</td>
								</tr>
								<tr class="controls hoh">
									<td class="item-label">手机端轮播图4-繁体 :</td>
									<td>
										<div id="addpicContainer_f" class="gezibg">
											<notempty name="data.websilded_f">
												<img id="up_img_websilded_f" onclick="getElementById('websilded_box_f').click()" style="cursor:pointer;max-height:62px;" title="手机端轮播图3繁体" alt="点击添加图片" src="/Upload/public/{$data.websilded_f}">
												<else/>
												<!--没有图片显示默认图片-->
												<img id="up_img_websilded_f" onclick="getElementById('websilded_box_f').click()" style="cursor:pointer;max-height:62px;" title="手机端轮播图3繁体" alt="点击添加图片" src="__PUBLIC__/Admin/images/addimg.png">
											</notempty>
											<input type="hidden" id="websilded_deputy_f" name="websilded_f" value="{$data.websilded_f}">
											<input type="file" id="websilded_box_f" style="height:0;width:0;z-index: -1; position: absolute;left: 10px;top: 5px;" value=""/>
										</div>
									</td>
									<td class="item-note" style="color:red;">* 700*350px</td>
								</tr>



								<tr class="controls hoh">
									<td class="item-label">手机端轮播图1-日文 :</td>
									<td>
										<div id="addpicContainer_r" class="gezibg">
											<notempty name="data.websildea_r">
												<img id="up_img_websildea_r" onclick="getElementById('websildea_box_r').click()" style="cursor:pointer;max-height:62px;" title="手机端轮播图1_日文" alt="点击添加图片" src="/Upload/public/{$data.websildea_r}">
												<else/>
												<!--没有图片显示默认图片-->
												<img id="up_img_websildea_r" onclick="getElementById('websildea_box_r').click()" style="cursor:pointer;max-height:62px;" title="手机端轮播图1_日文" alt="点击添加图片" src="__PUBLIC__/Admin/images/addimg.png">
											</notempty>
											<input type="hidden" id="websildea_deputy_r" name="websildea_r" value="{$data.websildea_r}">
											<input type="file" id="websildea_box_r" style="height:0;width:0;z-index: -1; position: absolute;left: 10px;top: 5px;" value=""/>
										</div>
									</td>
									<td class="item-note" style="color:red;">* 700*350px</td>
								</tr>
								

								<tr class="controls hoh">
									<td class="item-label">手机端轮播图2-日文 :</td>
									<td>
										<div id="addpicContainer_r" class="gezibg">
											<notempty name="data.websildeb_r">
												<img id="up_img_websildeb_r" onclick="getElementById('websildeb_box_r').click()" style="cursor:pointer;max-height:62px;" title="手机端轮播图2日文" alt="点击添加图片" src="/Upload/public/{$data.websildeb_r}">
												<else/>
												<!--没有图片显示默认图片-->
												<img id="up_img_websildeb_r" onclick="getElementById('websildeb_box_r').click()" style="cursor:pointer;max-height:62px;" title="手机端轮播图2日文" alt="点击添加图片" src="__PUBLIC__/Admin/images/addimg.png">
											</notempty>
											<input type="hidden" id="websildeb_deputy_r" name="websildeb_r" value="{$data.websildeb_r}">
											<input type="file" id="websildeb_box_r" style="height:0;width:0;z-index: -1; position: absolute;left: 10px;top: 5px;" value=""/>
										</div>
									</td>
									<td class="item-note" style="color:red;">* 700*350px</td>
								</tr>
								

								<tr class="controls hoh">
									<td class="item-label">手机端轮播图3-日文 :</td>
									<td>
										<div id="addpicContainer_r" class="gezibg">
											<notempty name="data.websildec_r">
												<img id="up_img_websildec_r" onclick="getElementById('websildec_box_r').click()" style="cursor:pointer;max-height:62px;" title="手机端轮播图3日文" alt="点击添加图片" src="/Upload/public/{$data.websildec_r}">
												<else/>
												<!--没有图片显示默认图片-->
												<img id="up_img_websildec_r" onclick="getElementById('websildec_box_r').click()" style="cursor:pointer;max-height:62px;" title="手机端轮播图3日文" alt="点击添加图片" src="__PUBLIC__/Admin/images/addimg.png">
											</notempty>
											<input type="hidden" id="websildec_deputy_r" name="websildec_r" value="{$data.websildec_r}">
											<input type="file" id="websildec_box_r" style="height:0;width:0;z-index: -1; position: absolute;left: 10px;top: 5px;" value=""/>
										</div>
									</td>
									<td class="item-note" style="color:red;">* 700*350px</td>
								</tr>
								<tr class="controls hoh">
									<td class="item-label">手机端轮播图4-日文 :</td>
									<td>
										<div id="addpicContainer_r" class="gezibg">
											<notempty name="data.websilded_r">
												<img id="up_img_websilded_r" onclick="getElementById('websilded_box_r').click()" style="cursor:pointer;max-height:62px;" title="手机端轮播图4日文" alt="点击添加图片" src="/Upload/public/{$data.websilded_r}">
												<else/>
												<!--没有图片显示默认图片-->
												<img id="up_img_websilded_r" onclick="getElementById('websilded_box_r').click()" style="cursor:pointer;max-height:62px;" title="手机端轮播图4日文" alt="点击添加图片" src="__PUBLIC__/Admin/images/addimg.png">
											</notempty>
											<input type="hidden" id="websilded_deputy_r" name="websilded_r" value="{$data.websilded_r}">
											<input type="file" id="websilded_box_r" style="height:0;width:0;z-index: -1; position: absolute;left: 10px;top: 5px;" value=""/>
										</div>
									</td>
									<td class="item-note" style="color:red;">* 700*350px</td>
								</tr>

								<!--								韩文轮播图开始-->
								<tr class="controls hoh">
									<td class="item-label">手机端轮播图1-韩文 :</td>
									<td>
										<div id="addpicContainer_kr" class="gezibg">
											<notempty name="data.websildea_kr">
												<img id="up_img_websildea_kr" onclick="getElementById('websildea_box_kr').click()" style="cursor:pointer;max-height:62px;" title="手机端轮播图1_韩文" alt="点击添加图片" src="/Upload/public/{$data.websildea_kr}">
												<else/>
												<!--没有图片显示默认图片-->
												<img id="up_img_websildea_kr" onclick="getElementById('websildea_box_kr').click()" style="cursor:pointer;max-height:62px;" title="手机端轮播图1_韩文" alt="点击添加图片" src="__PUBLIC__/Admin/images/addimg.png">
											</notempty>
											<input type="hidden" id="websildea_deputy_kr" name="websildea_kr" value="{$data.websildea_r}">
											<input type="file" id="websildea_box_kr" style="height:0;width:0;z-index: -1; position: absolute;left: 10px;top: 5px;" value=""/>
										</div>
									</td>
									<td class="item-note" style="color:red;">* 700*350px</td>
								</tr>

								<tr class="controls hoh">
									<td class="item-label">手机端轮播图2-韩文 :</td>
									<td>
										<div id="addpicContainer_kr" class="gezibg">
											<notempty name="data.websildeb_kr">
												<img id="up_img_websildeb_kr" onclick="getElementById('websildeb_box_kr').click()" style="cursor:pointer;max-height:62px;" title="手机端轮播图2韩文" alt="点击添加图片" src="/Upload/public/{$data.websildeb_r}">
												<else/>
												<!--没有图片显示默认图片-->
												<img id="up_img_websildeb_kr" onclick="getElementById('websildeb_box_kr').click()" style="cursor:pointer;max-height:62px;" title="手机端轮播图2韩文" alt="点击添加图片" src="__PUBLIC__/Admin/images/addimg.png">
											</notempty>
											<input type="hidden" id="websildeb_deputy_kr" name="websildeb_kr" value="{$data.websildeb_kr}">
											<input type="file" id="websildeb_box_kr" style="height:0;width:0;z-index: -1; position: absolute;left: 10px;top: 5px;" value=""/>
										</div>
									</td>
									<td class="item-note" style="color:red;">* 700*350px</td>
								</tr>


								<tr class="controls hoh">
									<td class="item-label">手机端轮播图3-韩文 :</td>
									<td>
										<div id="addpicContainer_kr" class="gezibg">
											<notempty name="data.websildec_kr">
												<img id="up_img_websildec_kr" onclick="getElementById('websildec_box_kr').click()" style="cursor:pointer;max-height:62px;" title="手机端轮播图3韩文" alt="点击添加图片" src="/Upload/public/{$data.websildec_kr}">
												<else/>
												<!--没有图片显示默认图片-->
												<img id="up_img_websildec_kr" onclick="getElementById('websildec_box_kr').click()" style="cursor:pointer;max-height:62px;" title="手机端轮播图3韩文" alt="点击添加图片" src="__PUBLIC__/Admin/images/addimg.png">
											</notempty>
											<input type="hidden" id="websildec_deputy_kr" name="websildec_kr" value="{$data.websildec_r}">
											<input type="file" id="websildec_box_kr" style="height:0;width:0;z-index: -1; position: absolute;left: 10px;top: 5px;" value=""/>
										</div>
									</td>
									<td class="item-note" style="color:red;">* 700*350px</td>
								</tr>
								<tr class="controls hoh">
									<td class="item-label">手机端轮播图4-韩文 :</td>
									<td>
										<div id="addpicContainer_r" class="gezibg">
											<notempty name="data.websilded_kr">
												<img id="up_img_websilded_kr" onclick="getElementById('websilded_box_kr').click()" style="cursor:pointer;max-height:62px;" title="手机端轮播图3韩文" alt="点击添加图片" src="/Upload/public/{$data.websilded_kr}">
												<else/>
												<!--没有图片显示默认图片-->
												<img id="up_img_websilded_kr" onclick="getElementById('websilded_box_kr').click()" style="cursor:pointer;max-height:62px;" title="手机端轮播图3韩文" alt="点击添加图片" src="__PUBLIC__/Admin/images/addimg.png">
											</notempty>
											<input type="hidden" id="websilded_deputy_kr" name="websilded_r" value="{$data.websilded_kr}">
											<input type="file" id="websilded_box_kr" style="height:0;width:0;z-index: -1; position: absolute;left: 10px;top: 5px;" value=""/>
										</div>
									</td>
									<td class="item-note" style="color:red;">* 700*350px</td>
								</tr>

								<!--								韩文轮播图开始-->

								<tr class="controls hoh">
									<td class="item-label">手机端新币认购图片 :</td>
									<td>
										<div id="addpicContainer" class="gezibg">
											<notempty name="data.webissue">
												<img id="up_img_webissue" onclick="getElementById('webissue_box').click()" style="cursor:pointer;max-height:62px;" title="手机端新币认购图片" alt="点击添加图片" src="/Upload/public/{$data.webissue}">
											<else/>
												<!--没有图片显示默认图片-->
												<img id="up_img_webissue" onclick="getElementById('webissue_box').click()" style="cursor:pointer;max-height:62px;" title="手机端新币认购图片" alt="点击添加图片" src="__PUBLIC__/Admin/images/addimg.png">
											</notempty>
											<input type="hidden" id="webissue_deputy" name="webissue" value="{$data.webissue}">
											<input type="file" id="webissue_box" style="height:0;width:0;z-index: -1; position: absolute;left: 10px;top: 5px;" value=""/>
										</div>
									</td>
									<td class="item-note" style="color:red;">* 700*350px</td>
								</tr>
								
								<tr class="controls hoh">
									<td class="item-label">手机端矿机首页图片 :</td>
									<td>
										<div id="addpicContainer" class="gezibg">
											<notempty name="data.webkj">
												<img id="up_img_webkj" onclick="getElementById('webkj_box').click()" style="cursor:pointer;max-height:62px;" title="手机端矿机首页图片" alt="点击添加图片" src="/Upload/public/{$data.webkj}">
											<else/>
												<!--没有图片显示默认图片-->
												<img id="up_img_webkj" onclick="getElementById('webkj_box').click()" style="cursor:pointer;max-height:62px;" title="手机端矿机首页图片" alt="点击添加图片" src="__PUBLIC__/Admin/images/addimg.png">
											</notempty>
											<input type="hidden" id="webkj_deputy" name="webkj" value="{$data.webkj}">
											<input type="file" id="webkj_box" style="height:0;width:0;z-index: -1; position: absolute;left: 10px;top: 5px;" value=""/>
										</div>
									</td>
									<td class="item-note" style="color:red;">* 700*350px</td>
								</tr>

								
								<tr class="controls hoh">
									<td class="item-label">PC端新币认购图片 :</td>
									<td>
										<div id="addpicContainer" class="gezibg">
											<notempty name="data.wapissue">
												<img id="up_img_wapissue" onclick="getElementById('wapissue_box').click()" style="cursor:pointer;max-height:62px;" title="PC端新币认购图片" alt="点击添加图片" src="/Upload/public/{$data.wapissue}">
											<else/>
												<!--没有图片显示默认图片-->
												<img id="up_img_wapissue" onclick="getElementById('wapissue_box').click()" style="cursor:pointer;max-height:62px;" title="PC端新币认购图片" alt="点击添加图片" src="__PUBLIC__/Admin/images/addimg.png">
											</notempty>
											<input type="hidden" id="wapissue_deputy" name="wapissue" value="{$data.wapissue}">
											<input type="file" id="wapissue_box" style="height:0;width:0;z-index: -1; position: absolute;left: 10px;top: 5px;" value=""/>
										</div>
									</td>
									<td class="item-note" style="color:red;">* 700*350px</td>
								</tr>
								
								<tr class="controls hoh">
									<td class="item-label">PC端矿机首页图片 :</td>
									<td>
										<div id="addpicContainer" class="gezibg">
											<notempty name="data.wapkj">
												<img id="up_img_wapkj" onclick="getElementById('wapkj_box').click()" style="cursor:pointer;max-height:62px;" title="PC端矿机首页图片" alt="点击添加图片" src="/Upload/public/{$data.wapkj}">
											<else/>
												<!--没有图片显示默认图片-->
												<img id="up_img_wapkj" onclick="getElementById('wapkj_box').click()" style="cursor:pointer;max-height:62px;" title="PC端矿机首页图片" alt="点击添加图片" src="__PUBLIC__/Admin/images/addimg.png">
											</notempty>
											<input type="hidden" id="wapkj_deputy" name="wapkj" value="{$data.wapkj}">
											<input type="file" id="wapkj_box" style="height:0;width:0;z-index: -1; position: absolute;left: 10px;top: 5px;" value=""/>
										</div>
									</td>
									<td class="item-note" style="color:red;">* 700*350px</td>
								</tr>
								
								<tr class="controls hoh">
									<td class="item-label">手机端推荐页面logo图片 :</td>
									<td>
										<div id="addpicContainer" class="gezibg">
											<notempty name="data.webtjimgs">
												<img id="up_img_webtjimgs" onclick="getElementById('webtjimgs_box').click()" style="cursor:pointer;max-height:62px;" title="手机端推荐页面logo图片" alt="点击添加图片" src="/Upload/public/{$data.webtjimgs}">
											<else/>
												<!--没有图片显示默认图片-->
												<img id="up_img_webtjimgs" onclick="getElementById('webtjimgs_box').click()" style="cursor:pointer;max-height:62px;" title="手机端推荐页面logo图片" alt="点击添加图片" src="__PUBLIC__/Admin/images/addimg.png">
											</notempty>
											<input type="hidden" id="webtjimgs_deputy" name="webtjimgs" value="{$data.webtjimgs}">
											<input type="file" id="webtjimgs_box" style="height:0;width:0;z-index: -1; position: absolute;left: 10px;top: 5px;" value=""/>
										</div>
									</td>
									<td class="item-note" style="color:red;">* 200*200px</td>
								</tr>
								
								<tr class="controls hoh">
									<td class="item-label">手机端推荐页面logo图片 :</td>
									<td>
										<div id="addpicContainer" class="gezibg">
											<notempty name="data.waptjimgs">
												<img id="up_img_waptjimgs" onclick="getElementById('waptjimgs_box').click()" style="cursor:pointer;max-height:62px;" title="手机端推荐页面logo图片" alt="点击添加图片" src="/Upload/public/{$data.waptjimgs}">
											<else/>
												<!--没有图片显示默认图片-->
												<img id="up_img_waptjimgs" onclick="getElementById('waptjimgs_box').click()" style="cursor:pointer;max-height:62px;" title="手机端推荐页面logo图片" alt="点击添加图片" src="__PUBLIC__/Admin/images/addimg.png">
											</notempty>
											<input type="hidden" id="waptjimgs_deputy" name="waptjimgs" value="{$data.waptjimgs}">
											<input type="file" id="waptjimgs_box" style="height:0;width:0;z-index: -1; position: absolute;left: 10px;top: 5px;" value=""/>
										</div>
									</td>
									<td class="item-note" style="color:red;">* 200*200px</td>
								</tr>
								
								
								
								
								<tr class="controls">
									<td class="item-label">网站状态 :</td>
									<td>
										<select name="webswitch" class="form-control  input-10x">
											<option value="1" <eq name="data['web_close']" value="1">selected</eq>>正常</option>
											<option value="2" <eq name="data['web_close']" value="0">selected</eq>>禁止访问</option>
										</select>
									</td>
									<td class="item-note"></td>
								</tr>

								<tr class="controls">
									<td class="item-label"></td>
									<td>
										<div class="form-item cf">
											<button class="btn submit-btn ajax-post" target-form="form-horizontal" id="submit" type="submit">提交</button>
											<a class="btn btn-return" href="{$Think.server.HTTP_REFERER}">返 回</a>
										</div>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</form>
				<script type="text/javascript">
					//提交表单
					$('#submit').click(function () {
						$('#form').submit();
					});
				</script>
			</div>
		</div>
	</div>
</div>

<script charset="utf-8" src="__PUBLIC__/kindeditorv4/kindeditor-all-min.js"></script>
<script charset="utf-8" src="__PUBLIC__/kindeditorv4//lang/zh-CN.js"></script>
<script type="text/javascript">
    /** PC端推荐页面logo图片 **/
	$(document).ready(function () {
		//响应文件添加成功事件
		$("#waptjimgs_box").change(function () {
			//创建FormData对象
			var data = new FormData();
			//为FormData对象添加数据
			$.each($('#waptjimgs_box')[0].files, function (i, file) {
				data.append('upload_file' + i, file);
			});
			//发送数据
			$.ajax({
				url: '/Admin/Config/image',
				type: 'POST',
				data: data,
				cache: false,
				contentType: false,		//不可缺参数
				processData: false,		//不可缺参数
				success: function (data) {
					if (data) {
						$('#up_img_waptjimgs').attr("src", '/Upload/public/' + $.trim(data));
						$('#waptjimgs_deputy').val($.trim(data));
						$('#up_img_waptjimgs').show();
					}
				},
				error: function () {
					alert('上传出错');
					$(".loading").hide();	//加载失败移除加载图片
				}
			});

		});
	})
    /** 手机端推荐页面logo图片 **/
	$(document).ready(function () {
		//响应文件添加成功事件
		$("#webtjimgs_box").change(function () {
			//创建FormData对象
			var data = new FormData();
			//为FormData对象添加数据
			$.each($('#webtjimgs_box')[0].files, function (i, file) {
				data.append('upload_file' + i, file);
			});
			//发送数据
			$.ajax({
				url: '/Admin/Config/image',
				type: 'POST',
				data: data,
				cache: false,
				contentType: false,		//不可缺参数
				processData: false,		//不可缺参数
				success: function (data) {
					if (data) {
						$('#up_img_webtjimgs').attr("src", '/Upload/public/' + $.trim(data));
						$('#webtjimgs_deputy').val($.trim(data));
						$('#up_img_webtjimgs').show();
					}
				},
				error: function () {
					alert('上传出错');
					$(".loading").hide();	//加载失败移除加载图片
				}
			});

		});
	})
    /** PC端矿机首页图片 **/
	$(document).ready(function () {
		//响应文件添加成功事件
		$("#wapkj_box").change(function () {
			//创建FormData对象
			var data = new FormData();
			//为FormData对象添加数据
			$.each($('#wapkj_box')[0].files, function (i, file) {
				data.append('upload_file' + i, file);
			});
			//发送数据
			$.ajax({
				url: '/Admin/Config/image',
				type: 'POST',
				data: data,
				cache: false,
				contentType: false,		//不可缺参数
				processData: false,		//不可缺参数
				success: function (data) {
					if (data) {
						$('#up_img_wapkj').attr("src", '/Upload/public/' + $.trim(data));
						$('#wapkj_deputy').val($.trim(data));
						$('#up_img_wapkj').show();
					}
				},
				error: function () {
					alert('上传出错');
					$(".loading").hide();	//加载失败移除加载图片
				}
			});

		});
	})
    /** PC端新币认购图片 **/
	$(document).ready(function () {
		//响应文件添加成功事件
		$("#wapissue_box").change(function () {
			//创建FormData对象
			var data = new FormData();
			//为FormData对象添加数据
			$.each($('#wapissue_box')[0].files, function (i, file) {
				data.append('upload_file' + i, file);
			});
			//发送数据
			$.ajax({
				url: '/Admin/Config/image',
				type: 'POST',
				data: data,
				cache: false,
				contentType: false,		//不可缺参数
				processData: false,		//不可缺参数
				success: function (data) {
					if (data) {
						$('#up_img_wapissue').attr("src", '/Upload/public/' + $.trim(data));
						$('#wapissue_deputy').val($.trim(data));
						$('#up_img_wapissue').show();
					}
				},
				error: function () {
					alert('上传出错');
					$(".loading").hide();	//加载失败移除加载图片
				}
			});

		});
	})
	
	    /** PC端轮播图4 **/
	// $(document).ready(function () {
	// 	//响应文件添加成功事件
	// 	$("#wapsilded_box").change(function () {
	// 		//创建FormData对象
	// 		var data = new FormData();
	// 		//为FormData对象添加数据
	// 		$.each($('#wapsilded_box')[0].files, function (i, file) {
	// 			data.append('upload_file' + i, file);
	// 		});
	// 		//发送数据
	// 		$.ajax({
	// 			url: '/Admin/Config/image',
	// 			type: 'POST',
	// 			data: data,
	// 			cache: false,
	// 			contentType: false,		//不可缺参数
	// 			processData: false,		//不可缺参数
	// 			success: function (data) {
	// 				if (data) {
	// 					$('#up_img_wapsilded').attr("src", '/Upload/public/' + $.trim(data));
	// 					$('#wapsilded_deputy').val($.trim(data));
	// 					$('#up_img_wapsilded').show();
	// 				}
	// 			},
	// 			error: function () {
	// 				alert('上传出错');
	// 				$(".loading").hide();	//加载失败移除加载图片
	// 			}
	// 		});
	//
	// 	});
	// })


	/** 手机轮播图英文-04 **/
	$(document).ready(function () {
		//响应文件添加成功事件
		$("#websilded_box").change(function () {
			//创建FormData对象
			var data = new FormData();
			//为FormData对象添加数据
			$.each($('#websilded_box')[0].files, function (i, file) {
				data.append('upload_file' + i, file);
			});
			//发送数据
			$.ajax({
				url: '/Admin/Config/image',
				type: 'POST',
				data: data,
				cache: false,
				contentType: false,		//不可缺参数
				processData: false,		//不可缺参数
				success: function (data) {
					if (data) {
						$('#up_img_websilded').attr("src", '/Upload/public/' + $.trim(data));
						$('#websilded_deputy').val($.trim(data));
						$('#up_img_websilded').show();
					}
				},
				error: function () {
					alert('上传出错');
					$(".loading").hide();	//加载失败移除加载图片
				}
			});

		});
	})
	/** 手机轮播图简体-04 **/
	$(document).ready(function () {
		//响应文件添加成功事件
		$("#websilded_box_z").change(function () {
			//创建FormData对象
			var data = new FormData();
			//为FormData对象添加数据
			$.each($('#websilded_box_z')[0].files, function (i, file) {
				data.append('upload_file' + i, file);
			});
			//发送数据
			$.ajax({
				url: '/Admin/Config/image',
				type: 'POST',
				data: data,
				cache: false,
				contentType: false,		//不可缺参数
				processData: false,		//不可缺参数
				success: function (data) {
					if (data) {
						$('#up_img_websilded_z').attr("src", '/Upload/public/' + $.trim(data));
						$('#websilded_deputy_z').val($.trim(data));
						$('#up_img_websilded_z').show();
					}
				},
				error: function () {
					alert('上传出错');
					$(".loading").hide();	//加载失败移除加载图片
				}
			});

		});
	})
	/** 手机轮播图日文-04 **/
	$(document).ready(function () {
		//响应文件添加成功事件
		$("#websilded_box_r").change(function () {
			//创建FormData对象
			var data = new FormData();
			//为FormData对象添加数据
			$.each($('#websilded_box_r')[0].files, function (i, file) {
				data.append('upload_file' + i, file);
			});
			//发送数据
			$.ajax({
				url: '/Admin/Config/image',
				type: 'POST',
				data: data,
				cache: false,
				contentType: false,		//不可缺参数
				processData: false,		//不可缺参数
				success: function (data) {
					if (data) {
						$('#up_img_websilded_r').attr("src", '/Upload/public/' + $.trim(data));
						$('#websilded_deputy_r').val($.trim(data));
						$('#up_img_websilded_r').show();
					}
				},
				error: function () {
					alert('上传出错');
					$(".loading").hide();	//加载失败移除加载图片
				}
			});

		});
	})
     /** 手机轮播图繁体-04 **/
	 $(document).ready(function () {
		 //响应文件添加成功事件
		 $("#websilded_box_f").change(function () {
			 //创建FormData对象
			 var data = new FormData();
			 //为FormData对象添加数据
			 $.each($('#websilded_box_f')[0].files, function (i, file) {
				 data.append('upload_file' + i, file);
			 });
			 //发送数据
			 $.ajax({
				 url: '/Admin/Config/image',
				 type: 'POST',
				 data: data,
				 cache: false,
				 contentType: false,		//不可缺参数
				 processData: false,		//不可缺参数
				 success: function (data) {
					 if (data) {
						 $('#up_img_websilded_f').attr("src", '/Upload/public/' + $.trim(data));
						 $('#websilded_deputy_f').val($.trim(data));
						 $('#up_img_websilded_f').show();
					 }
				 },
				 error: function () {
					 alert('上传出错');
					 $(".loading").hide();	//加载失败移除加载图片
				 }
			 });

		 });
	 })

	/** 手机轮播图韩文 -02 **/
	$(document).ready(function () {
		//响应文件添加成功事件
		$("#websildea_box_kr").change(function () {
			//创建FormData对象
			var data = new FormData();
			//为FormData对象添加数据
			$.each($('#websildea_box_kr')[0].files, function (i, file) {
				data.append('upload_file' + i, file);
			});
			//发送数据
			$.ajax({
				url: '/Admin/Config/image',
				type: 'POST',
				data: data,
				cache: false,
				contentType: false,		//不可缺参数
				processData: false,		//不可缺参数
				success: function (data) {
					if (data) {
						$('#up_img_websildea_kr').attr("src", '/Upload/public/' + $.trim(data));
						$('#websildea_deputy_kr').val($.trim(data));
						$('#up_img_websildea_kr').show();
					}
				},
				error: function () {
					alert('上传出错');
					$(".loading").hide();	//加载失败移除加载图片
				}
			});

		});
	});
	/** 手机轮播图韩文 -02 **/
	$(document).ready(function () {
		//响应文件添加成功事件
		$("#websildeb_box_kr").change(function () {
			//创建FormData对象
			var data = new FormData();
			//为FormData对象添加数据
			$.each($('#websildeb_box_kr')[0].files, function (i, file) {
				data.append('upload_file' + i, file);
			});
			//发送数据
			$.ajax({
				url: '/Admin/Config/image',
				type: 'POST',
				data: data,
				cache: false,
				contentType: false,		//不可缺参数
				processData: false,		//不可缺参数
				success: function (data) {
					if (data) {
						$('#up_img_websildeb_kr').attr("src", '/Upload/public/' + $.trim(data));
						$('#websildeb_deputy_kr').val($.trim(data));
						$('#up_img_websildeb_kr').show();
					}
				},
				error: function () {
					alert('上传出错');
					$(".loading").hide();	//加载失败移除加载图片
				}
			});

		});
	})

	/** 手机轮播图韩文 -03 **/
	$(document).ready(function () {
		//响应文件添加成功事件
		$("#websildec_box_kr").change(function () {
			//创建FormData对象
			var data = new FormData();
			//为FormData对象添加数据
			$.each($('#websildec_box_kr')[0].files, function (i, file) {
				data.append('upload_file' + i, file);
			});
			//发送数据
			$.ajax({
				url: '/Admin/Config/image',
				type: 'POST',
				data: data,
				cache: false,
				contentType: false,		//不可缺参数
				processData: false,		//不可缺参数
				success: function (data) {
					if (data) {
						$('#up_img_websildec_kr').attr("src", '/Upload/public/' + $.trim(data));
						$('#websildec_deputy_kr').val($.trim(data));
						$('#up_img_websildec_kr').show();
					}
				},
				error: function () {
					alert('上传出错');
					$(".loading").hide();	//加载失败移除加载图片
				}
			});

		});
	})
	/** 手机轮播图韩文 -04 **/
	$(document).ready(function () {
		//响应文件添加成功事件
		$("#websilded_box_kr").change(function () {
			//创建FormData对象
			var data = new FormData();
			//为FormData对象添加数据
			$.each($('#websilded_box_kr')[0].files, function (i, file) {
				data.append('upload_file' + i, file);
			});
			//发送数据
			$.ajax({
				url: '/Admin/Config/image',
				type: 'POST',
				data: data,
				cache: false,
				contentType: false,		//不可缺参数
				processData: false,		//不可缺参数
				success: function (data) {
					if (data) {
						$('#up_img_websilded_kr').attr("src", '/Upload/public/' + $.trim(data));
						$('#websilded_deputy_kr').val($.trim(data));
						$('#up_img_websilded_kr').show();
					}
				},
				error: function () {
					alert('上传出错');
					$(".loading").hide();	//加载失败移除加载图片
				}
			});

		});
	})


    /** 手机端矿机首页图片 **/
	$(document).ready(function () {
		//响应文件添加成功事件
		$("#webkj_box").change(function () {
			//创建FormData对象
			var data = new FormData();
			//为FormData对象添加数据
			$.each($('#webkj_box')[0].files, function (i, file) {
				data.append('upload_file' + i, file);
			});
			//发送数据
			$.ajax({
				url: '/Admin/Config/image',
				type: 'POST',
				data: data,
				cache: false,
				contentType: false,		//不可缺参数
				processData: false,		//不可缺参数
				success: function (data) {
					if (data) {
						$('#up_img_webkj').attr("src", '/Upload/public/' + $.trim(data));
						$('#webkj_deputy').val($.trim(data));
						$('#up_img_webkj').show();
					}
				},
				error: function () {
					alert('上传出错');
					$(".loading").hide();	//加载失败移除加载图片
				}
			});

		});
	})
    /** 手机端新币认购图片 **/
	$(document).ready(function () {
		//响应文件添加成功事件
		$("#webissue_box").change(function () {
			//创建FormData对象
			var data = new FormData();
			//为FormData对象添加数据
			$.each($('#webissue_box')[0].files, function (i, file) {
				data.append('upload_file' + i, file);
			});
			//发送数据
			$.ajax({
				url: '/Admin/Config/image',
				type: 'POST',
				data: data,
				cache: false,
				contentType: false,		//不可缺参数
				processData: false,		//不可缺参数
				success: function (data) {
					if (data) {
						$('#up_img_webissue').attr("src", '/Upload/public/' + $.trim(data));
						$('#webissue_deputy').val($.trim(data));
						$('#up_img_webissue').show();
					}
				},
				error: function () {
					alert('上传出错');
					$(".loading").hide();	//加载失败移除加载图片
				}
			});

		});
	})
    /** 手机端轮播图3上传英文 **/
	$(document).ready(function () {
		//响应文件添加成功事件
		$("#websildec_box").change(function () {
			//创建FormData对象
			var data = new FormData();
			//为FormData对象添加数据
			$.each($('#websildec_box')[0].files, function (i, file) {
				data.append('upload_file' + i, file);
			});
			//发送数据
			$.ajax({
				url: '/Admin/Config/image',
				type: 'POST',
				data: data,
				cache: false,
				contentType: false,		//不可缺参数
				processData: false,		//不可缺参数
				success: function (data) {
					if (data) {
						$('#up_img_websildec').attr("src", '/Upload/public/' + $.trim(data));
						$('#websildec_deputy').val($.trim(data));
						$('#up_img_websildec').show();
					}
				},
				error: function () {
					alert('上传出错');
					$(".loading").hide();	//加载失败移除加载图片
				}
			});

		});
	})
	/** 手机端轮播图3上传中文 **/
	$(document).ready(function () {
		//响应文件添加成功事件
		$("#websildec_box_z").change(function () {
			//创建FormData对象
			var data = new FormData();
			//为FormData对象添加数据
			$.each($('#websildec_box_z')[0].files, function (i, file) {
				data.append('upload_file' + i, file);
			});
			//发送数据
			$.ajax({
				url: '/Admin/Config/image',
				type: 'POST',
				data: data,
				cache: false,
				contentType: false,		//不可缺参数
				processData: false,		//不可缺参数
				success: function (data) {
					if (data) {
						$('#up_img_websildec_z').attr("src", '/Upload/public/' + $.trim(data));
						$('#websildec_deputy_z').val($.trim(data));
						$('#up_img_websildec_z').show();
					}
				},
				error: function () {
					alert('上传出错');
					$(".loading").hide();	//加载失败移除加载图片
				}
			});

		});
	})
	/** 手机端轮播图3上传日文 **/
	$(document).ready(function () {
		//响应文件添加成功事件
		$("#websildec_box_r").change(function () {
			//创建FormData对象
			var data = new FormData();
			//为FormData对象添加数据
			$.each($('#websildec_box_r')[0].files, function (i, file) {
				data.append('upload_file' + i, file);
			});
			//发送数据
			$.ajax({
				url: '/Admin/Config/image',
				type: 'POST',
				data: data,
				cache: false,
				contentType: false,		//不可缺参数
				processData: false,		//不可缺参数
				success: function (data) {
					if (data) {
						$('#up_img_websildec_r').attr("src", '/Upload/public/' + $.trim(data));
						$('#websildec_deputy_r').val($.trim(data));
						$('#up_img_websildec_r').show();
					}
				},
				error: function () {
					alert('上传出错');
					$(".loading").hide();	//加载失败移除加载图片
				}
			});

		});
	})
	/** 手机端轮播图3上传繁体 **/
	$(document).ready(function () {
		//响应文件添加成功事件
		$("#websildec_box_f").change(function () {
			//创建FormData对象
			var data = new FormData();
			//为FormData对象添加数据
			$.each($('#websildec_box_f')[0].files, function (i, file) {
				data.append('upload_file' + i, file);
			});
			//发送数据
			$.ajax({
				url: '/Admin/Config/image',
				type: 'POST',
				data: data,
				cache: false,
				contentType: false,		//不可缺参数
				processData: false,		//不可缺参数
				success: function (data) {
					if (data) {
						$('#up_img_websildec_f').attr("src", '/Upload/public/' + $.trim(data));
						$('#websildec_deputy_f').val($.trim(data));
						$('#up_img_websildec_f').show();
					}
				},
				error: function () {
					alert('上传出错');
					$(".loading").hide();	//加载失败移除加载图片
				}
			});

		});
	})

    /** 手机端轮播图2上传英文 **/
	$(document).ready(function () {
		//响应文件添加成功事件
		$("#websildeb_box").change(function () {
			//创建FormData对象
			var data = new FormData();
			//为FormData对象添加数据
			$.each($('#websildeb_box')[0].files, function (i, file) {
				data.append('upload_file' + i, file);
			});
			//发送数据
			$.ajax({
				url: '/Admin/Config/image',
				type: 'POST',
				data: data,
				cache: false,
				contentType: false,		//不可缺参数
				processData: false,		//不可缺参数
				success: function (data) {
					if (data) {
						$('#up_img_websildeb').attr("src", '/Upload/public/' + $.trim(data));
						$('#websildeb_deputy').val($.trim(data));
						$('#up_img_websildeb').show();
					}
				},
				error: function () {
					alert('上传出错');
					$(".loading").hide();	//加载失败移除加载图片
				}
			});

		});
	})
	/** 手机端轮播图2上传中文 **/
	$(document).ready(function () {
		//响应文件添加成功事件
		$("#websildeb_box_z").change(function () {
			//创建FormData对象
			var data = new FormData();
			//为FormData对象添加数据
			$.each($('#websildeb_box_z')[0].files, function (i, file) {
				data.append('upload_file' + i, file);
			});
			//发送数据
			$.ajax({
				url: '/Admin/Config/image',
				type: 'POST',
				data: data,
				cache: false,
				contentType: false,		//不可缺参数
				processData: false,		//不可缺参数
				success: function (data) {
					if (data) {
						$('#up_img_websildeb_z').attr("src", '/Upload/public/' + $.trim(data));
						$('#websildeb_deputy_z').val($.trim(data));
						$('#up_img_websildeb_z').show();
					}
				},
				error: function () {
					alert('上传出错');
					$(".loading").hide();	//加载失败移除加载图片
				}
			});

		});
	})
	/** 手机端轮播图2上传日文 **/
	$(document).ready(function () {
		//响应文件添加成功事件
		$("#websildeb_box_r").change(function () {
			//创建FormData对象
			var data = new FormData();
			//为FormData对象添加数据
			$.each($('#websildeb_box_r')[0].files, function (i, file) {
				data.append('upload_file' + i, file);
			});
			//发送数据
			$.ajax({
				url: '/Admin/Config/image',
				type: 'POST',
				data: data,
				cache: false,
				contentType: false,		//不可缺参数
				processData: false,		//不可缺参数
				success: function (data) {
					if (data) {
						$('#up_img_websildeb_r').attr("src", '/Upload/public/' + $.trim(data));
						$('#websildeb_deputy_r').val($.trim(data));
						$('#up_img_websildeb_r').show();
					}
				},
				error: function () {
					alert('上传出错');
					$(".loading").hide();	//加载失败移除加载图片
				}
			});

		});
	})
	/** 手机端轮播图2上传繁体 **/
	$(document).ready(function () {
		//响应文件添加成功事件
		$("#websildeb_box_f").change(function () {
			//创建FormData对象
			var data = new FormData();
			//为FormData对象添加数据
			$.each($('#websildeb_box_f')[0].files, function (i, file) {
				data.append('upload_file' + i, file);
			});
			//发送数据
			$.ajax({
				url: '/Admin/Config/image',
				type: 'POST',
				data: data,
				cache: false,
				contentType: false,		//不可缺参数
				processData: false,		//不可缺参数
				success: function (data) {
					if (data) {
						$('#up_img_websildeb_f').attr("src", '/Upload/public/' + $.trim(data));
						$('#websildeb_deputy_f').val($.trim(data));
						$('#up_img_websildeb_f').show();
					}
				},
				error: function () {
					alert('上传出错');
					$(".loading").hide();	//加载失败移除加载图片
				}
			});

		});
	})
    /** 手机端轮播图1英文上传 **/
	$(document).ready(function () {
		//响应文件添加成功事件
		$("#websildea_box").change(function () {
			//创建FormData对象
			var data = new FormData();
			//为FormData对象添加数据
			$.each($('#websildea_box')[0].files, function (i, file) {
				data.append('upload_file' + i, file);
			});
			//发送数据
			$.ajax({
				url: '/Admin/Config/image',
				type: 'POST',
				data: data,
				cache: false,
				contentType: false,		//不可缺参数
				processData: false,		//不可缺参数
				success: function (data) {
					if (data) {
						$('#up_img_websildea').attr("src", '/Upload/public/' + $.trim(data));
						$('#websildea_deputy').val($.trim(data));
						$('#up_img_websildea').show();
					}
				},
				error: function () {
					alert('上传出错');
					$(".loading").hide();	//加载失败移除加载图片
				}
			});

		});
	});

	/** 手机端轮播图1中文上传 **/
	$(document).ready(function () {
		//响应文件添加成功事件
		$("#websildea_box_z").change(function () {
			//创建FormData对象
			var data = new FormData();
			//为FormData对象添加数据
			$.each($('#websildea_box_z')[0].files, function (i, file) {
				data.append('upload_file' + i, file);
			});
			//发送数据
			$.ajax({
				url: '/Admin/Config/image',
				type: 'POST',
				data: data,
				cache: false,
				contentType: false,		//不可缺参数
				processData: false,		//不可缺参数
				success: function (data) {
					if (data) {
						$('#up_img_websildea_z').attr("src", '/Upload/public/' + $.trim(data));
						$('#websildea_deputy_z').val($.trim(data));
						$('#up_img_websildea_z').show();
					}
				},
				error: function () {
					alert('上传出错');
					$(".loading").hide();	//加载失败移除加载图片
				}
			});

		});
	});

	/** 手机端轮播图1日文上传 **/
	$(document).ready(function () {
		//响应文件添加成功事件
		$("#websildea_box_r").change(function () {
			//创建FormData对象
			var data = new FormData();
			//为FormData对象添加数据
			$.each($('#websildea_box_r')[0].files, function (i, file) {
				data.append('upload_file' + i, file);
			});
			//发送数据
			$.ajax({
				url: '/Admin/Config/image',
				type: 'POST',
				data: data,
				cache: false,
				contentType: false,		//不可缺参数
				processData: false,		//不可缺参数
				success: function (data) {
					if (data) {
						$('#up_img_websildea_r').attr("src", '/Upload/public/' + $.trim(data));
						$('#websildea_deputy_r').val($.trim(data));
						$('#up_img_websildea_r').show();
					}
				},
				error: function () {
					alert('上传出错');
					$(".loading").hide();	//加载失败移除加载图片
				}
			});

		});
	});
	/** 手机端轮播图1日文上传 **/
	$(document).ready(function () {
		//响应文件添加成功事件
		$("#websildea_box_r").change(function () {
			//创建FormData对象
			var data = new FormData();
			//为FormData对象添加数据
			$.each($('#websildea_box_r')[0].files, function (i, file) {
				data.append('upload_file' + i, file);
			});
			//发送数据
			$.ajax({
				url: '/Admin/Config/image',
				type: 'POST',
				data: data,
				cache: false,
				contentType: false,		//不可缺参数
				processData: false,		//不可缺参数
				success: function (data) {
					if (data) {
						$('#up_img_websildea_r').attr("src", '/Upload/public/' + $.trim(data));
						$('#websildea_deputy_r').val($.trim(data));
						$('#up_img_websildea_r').show();
					}
				},
				error: function () {
					alert('上传出错');
					$(".loading").hide();	//加载失败移除加载图片
				}
			});

		});
	});

	/** 手机端轮播图1繁体上传 **/
	$(document).ready(function () {
		//响应文件添加成功事件
		$("#websildea_box_f").change(function () {
			//创建FormData对象
			var data = new FormData();
			//为FormData对象添加数据
			$.each($('#websildea_box_f')[0].files, function (i, file) {
				data.append('upload_file' + i, file);
			});
			//发送数据
			$.ajax({
				url: '/Admin/Config/image',
				type: 'POST',
				data: data,
				cache: false,
				contentType: false,		//不可缺参数
				processData: false,		//不可缺参数
				success: function (data) {
					if (data) {
						$('#up_img_websildea_f').attr("src", '/Upload/public/' + $.trim(data));
						$('#websildea_deputy_f').val($.trim(data));
						$('#up_img_websildea_f').show();
					}
				},
				error: function () {
					alert('上传出错');
					$(".loading").hide();	//加载失败移除加载图片
				}
			});

		});
	});
    /** PC端网站logo上传 **/
	$(document).ready(function () {
		//响应文件添加成功事件
		$("#waplogo_box").change(function () {
			//创建FormData对象
			var data = new FormData();
			//为FormData对象添加数据
			$.each($('#waplogo_box')[0].files, function (i, file) {
				data.append('upload_file' + i, file);
			});
			//发送数据
			$.ajax({
				url: '/Admin/Config/image',
				type: 'POST',
				data: data,
				cache: false,
				contentType: false,		//不可缺参数
				processData: false,		//不可缺参数
				success: function (data) {
					if (data) {
						$('#up_img_waplogobox').attr("src", '/Upload/public/' + $.trim(data));
						$('#waplogo_deputy').val($.trim(data));
						$('#up_img_waplogobox').show();
					}
				},
				error: function () {
					alert('上传出错');
					$(".loading").hide();	//加载失败移除加载图片
				}
			});

		});
	});
	
	/** 手机端网站logo上传 **/
	$(document).ready(function () {
		//响应文件添加成功事件
		$("#weblogo_box").change(function () {
			//创建FormData对象
			var data = new FormData();
			//为FormData对象添加数据
			$.each($('#weblogo_box')[0].files, function (i, file) {
				data.append('upload_file' + i, file);
			});
			//发送数据
			$.ajax({
				url: '/Admin/Config/image',
				type: 'POST',
				data: data,
				cache: false,
				contentType: false,		//不可缺参数
				processData: false,		//不可缺参数
				success: function (data) {
					if (data) {
						$('#up_img').attr("src", '/Upload/public/' + $.trim(data));
						$('#weblogo_deputy').val($.trim(data));
						$('#up_img').show();
					}
				},
				error: function () {
					alert('上传出错');
					$(".loading").hide();	//加载失败移除加载图片
				}
			});

		});
	});

</script>

<script type="text/javascript">
    // KindEditor.ready(function(K) {
    //     window.editor = K.create('#web_reg');
    // });
	var editor;
	KindEditor.ready(function (K) {
		editor = K.create('textarea[name="web_reg"]', {
			width: '500px',
			height: '100px',
			allowImageUpload: true,
			items: [
				'source', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
				'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
				'insertunorderedlist', '|', 'emoticons', 'link', 'fullscreen'],
			afterBlur: function () {

                editor.sync();
			}
		});
		editors = K.create('textarea[name="en_web_reg"]', {
			width: '500px',
			height: '100px',
			allowPreviewEmoticons: false,
			allowImageUpload: true,
			items: [
				'source', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
				'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
				'insertunorderedlist', '|', 'emoticons', 'link', 'fullscreen'],
			afterBlur: function () {
				this.sync();
			}
		});
	});
</script>
<include file="Public:footer"/>