<include file="Public:header"/>
<div id="main-content">
	<div id="top-alert" class="fixed alert alert-error" style="display: none;">
		<button class="close fixed" style="margin-top: 4px;">&times;</button>
		<div class="alert-content">警告内容</div>
	</div>
	<div id="main" class="main">
		<div class="main-title-h">
			<span class="h1-title">红包中奖记录</span>
		</div>
		<div class="cf">
			<div class="search-form fr cf" style="43px;float: none !important;">
				<div class="sleft">
					<form name="formSearch" id="formSearch" method="get" name="form1">
						<input type="text" name="uid" class="search-input form-control" value="" placeholder="请输入用户ID" />
						<a class="sch-btn" href="javascript:;" id="search"> <i class="btn-search"></i> </a>
						<input type="text" name="username" class="search-input form-control" value="" placeholder="请输入用户名" />

						<a class="sch-btn" href="javascript:;" id="search"> <i class="btn-search"></i> </a>
					</form>
					<script>
						//搜索功能
						$(function () {
							$('#search').click(function () {
								$('#formSearch').submit();
							});
						});
						//回车搜索
						$(".search-input").keyup(function (e) {
							if (e.keyCode === 13) {
								$("#search").click();
								return false;
							}
						});
					</script>
				</div>
			</div>
		</div>
		<div class="data-table table-striped">
			<table class="">
				<thead>
				<tr>
					<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
					<th class="" style="text-align: center">UID</th>
					<th class="" style="text-align: center">用户名</th>
					<th class="" style="text-align: center">当日红包</th>
					<th class="" style="text-align: center">累计红包</th>
					<th class="" style="text-align: center">当日已经抽奖次数/当日总抽奖次数</th>
					<th class="" style="text-align: center">累计充值金额</th>
<!--					<th class="">上级代理UID</th>-->
<!--					<th class="">上级代理用户名</th>-->
				</tr>
				</thead>
				<tbody>
				<notempty name="list">
					<volist name="list" id="vo">
						<tr>
							<td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}"/></td>
							<td style="text-align: center">{$vo.uid}</td>
							<td style="text-align: center">{$vo.username}/{$vo.phone}</td>
							<td style="text-align: center">{$vo.today_draw}</td>
							<td style="text-align: center">{$vo.total_draw}</td>
<!--							<td>-->
<!--								<if condition="$vo.hyzd eq 1">-->
<!--									<span style="color:#0ecb81;">买涨</span>-->
<!--									<elseif condition="$vo.hyzd eq 2" />-->
<!--									<span style="color:#f5465c;">买跌</span>-->
<!--								</if>-->
<!--							</td>-->

							<td style="text-align: center ;color:red">{$vo.is_draw}/{$vo.draw_total}</td>
							<td style="text-align: center">{$vo.total_recharge}</td>

						</tr>
					</volist>
					<else/>
					<td colspan="12" class="text-center empty-info">
						<i class="glyphicon glyphicon-exclamation-sign"></i>暂无数据
					</td>
				</notempty>
				</tbody>
			</table>
			<div class="page">
				<div>{$page}</div>
			</div>
		</div>
	</div>
</div>

<include file="Public:footer"/>
<block name="script">
	<script type="text/javascript" charset="utf-8">
		//导航高亮
		highlight_subnav("{:U('Draw/index')}");
	</script>
</block>