<include file="Public:header" />

<div id="main-content">
    <div id="top-alert" class="fixed alert alert-error" style="display: none;">
        <button class="close fixed" style="margin-top: 4px;">&times;</button>
        <div class="alert-content">警告内容</div>
    </div>

    <div id="main" class="main">
        <div class="main-title-h">
            <span class="h1-title">秒合约参数设置</span>
        </div>

        <div class="tab-wrap">
            <div class="tab-content">
                <form id="form" action="{:U('Draw/setting')}" method="post" class="form-horizontal" >
                    <div id="tab" class="tab-pane in tab">
                        <div class="form-item cf">
                            <table width="100%" cellspacing="0" class="table_form">
                                <caption>红包抽奖等级设置</caption>
                                <tbody id="draw">
                                <?php $i= 0;foreach ($draw as $key => $val) { if($i >4){break;} ?>
                                <tr>
                                    <th><?= $val['name'] ?>：</th>
                                    <input type="hidden" name="setting[<?= $key ?>][name]" value="<?= $val['name'] ?>">
                                    <input type="hidden" name="setting[<?= $key ?>][level]" value="<?= $val['level'] ?>">
                                    <td>
                                        充值累计金额：<input class="input-text" type="text" name="setting[<?= $key ?>][amount]"
                                                      value="<?= $val['amount'] ?>">
                                    </td>
                                    <td>
                                        日抽奖次数：<input class="input-text" type="text" name="setting[<?= $key ?>][num]"
                                                     value="<?= $val['num'] ?>">
                                    </td>
                                    <td>
                                        默认抽奖中奖金额：<input class="input-text" type="text" name="setting[<?= $key ?>][draw_min]"
                                                        value="<?= $val['draw_min'] ?>">
                                        - <input class="input-text" type="text" name="setting[<?= $key ?>][draw_max]"
                                                 value="<?= $val['draw_max'] ?>">
                                    </td>
                                    <td>
                                        <label>启用</label><input type="radio" name="setting[<?= $key ?>][status]"
                                                                value="1" <?php if ($val['status'] == 1) echo 'checked="checked"' ?>/>
                                        <label>停用</label><input type="radio" name="setting[<?= $key ?>][status]"
                                                                value="2" <?php if ($val['status'] == 2) echo 'checked="checked"' ?>/>
                                    </td>
                                </tr>
                                <?php $i++; } ?>
                                </tbody>
                            </table>
                            
                            <script>
                                $(function(){
                                    
                                    $('.settingdrawcontroltype').click(function(){
                                        if($(this).val()==2){
                                            $('.settingdrawcontroldrawcontrol').removeAttr('disabled')
                                        }else{
                                            $('.settingdrawcontroldrawcontrol').attr('disabled','disabled')
                                            $('.settingdrawcontroldrawcontrol').val('')
                                        }
                                    })
                                })
                            </script>
                            
                            <table width="100%" cellspacing="0" class="table_form">
                                <caption>红包抽奖金额设置</caption>
                                <tbody id="draw_control">
                                <tr>
                                    <th>控制</th>
                                    <td>
                                        <label>随机 <input type="radio" checked="checked" class="settingdrawcontroltype focus"
                                                         name="setting[draw_control][type]"
                                                         value="1" <?php if ($drawControl['type'] == 1) echo 'checked="checked"' ?>/></label>
                                        <label>自定义 <input type="radio" class="settingdrawcontroltype"
                                                          name="setting[draw_control][type]"
                                                          value="2" <?php if ($drawControl['type'] == 2) echo 'checked="checked"' ?>/></label>
                                    </td>
                                    <td>
                            <textarea class="input-text settingdrawcontroldrawcontrol"
                                        disabled="disabled"
                                      name="setting[draw_control][draw_control]"
                                      style="height: 60px;width: 95%"  <?php if ($drawControl['type'] == 1) { ?> disabled="disabled" <?php } ?>><?= $drawControl['draw_control'] ?></textarea>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table>

                                <tr class="controls">
                                    <td class="item-label"></td>
                                    <td>
                                        <div class="form-item cf">
                                            <button class= "btn submit-btn ajax-post"  target-form="form-horizontal" id="submit" type="submit">提交</button>
                                            <a class="btn btn-return" href="{$Think.server.HTTP_REFERER}">返 回</a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </form>

                <script type="text/javascript">
                    //提交表单
                    $('#submit').click(function(){
                        $('#form').submit();
                    });
                </script>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function(){
        //主导航高亮
        $('.config-box').addClass('current');
        //边导航高亮
        $('.config-contact').addClass('current');
    });
</script>

<include file="Public:footer" />