<include file="Public:header"/>
<div id="main-content">
	<div id="top-alert" class="fixed alert alert-error" style="display: none;">
		<button class="close fixed" style="margin-top: 4px;">&times;</button>
		<div class="alert-content">警告内容</div>
	</div>
	<div id="main" class="main">
		<div class="cf">
			<div class="main-title-h">
				<span class="h1-title">代理管理</span>
				<div class="fr">
					<button class="btn btn-warning" onClick="location.href='{:U('User/agent')}'">初始化搜索</button>
				</div>
			</div>
			<div class="search-form fr cf">
				<div class="sleft">
					<form name="formSearch" id="formSearch" method="get" name="form1">
						<select style="width:120px;float:left;margin-right:10px;" name="status" class="form-control">
							<option value="" <empty name="Think.get.status">selected</empty> >全部状态</option>
							<option value="1" <eq name="Think.get.status" value="1">selected</eq> >正常状态</option>
							<option value="2" <eq name="Think.get.status" value="2">selected</eq> >冻结状态</option>
						</select>
						<select style="width:120px;float:left;margin-right:10px;" name="field" class="form-control">
							<option value="id" <empty name="Think.get.field" value="id" >selected</empty> >UID</option>
							<option value="username" <eq name="Think.get.field" value="username">selected</eq> >邮箱账号</option>
							<option value="phone" <eq name="Think.get.field" value="phone">selected</eq> >手机号码</option>
						</select>

						<script type="text/javascript" src="/Public/layer/laydate/laydate.js"></script>

						<input type="text" name="search" class="search-input form-control" value="{$Think.get.search}" placeholder="请输入查询内容" style="">
						<a class="sch-btn" href="javascript:;" id="search"> <i class="btn-search"></i> </a>
					</form>
					<script>
						//搜索功能
						$(function () {
							$('#search').click(function () {
								$('#formSearch').submit();
							});
						});
						//回车搜索
						$(".search-input").keyup(function (e) {
							if (e.keyCode === 13) {
								$("#search").click();
								return false;
							}
						});
					</script>
				</div>
			</div>
		</div>
		<div class="data-table table-striped">
			<form id="form"  method="post" class="form-horizontal">
				<table class="">
					<thead>
					<tr>

						<th class="">ID</th>
						<th class="">代理账号</th>
						<th class="">邀请码</th>
						<th class="">注册IP/时间</th>
						<th class="">代理</th>
						<th class="">二代人数</th>
						<th class="">三代人数</th>
						<th class="">所有下级成员</th>
						<th class="">操作</th>
					</tr>
					</thead>
					<tbody>
					<notempty name="list">
						<volist name="list" id="vo">
							<tr>
								<td>{$vo.id}</td>
								<td><span style="color: red">{$vo.username}</span> <p/> <span style="color: green">{$vo.phone}</span></td>
								<td>{$vo.invit}</td>
								<td>
								    <span>IP：{$vo.addip}</span><br />
								    <span>时间：<?php echo date("Y-m-d H:i:s",$vo['addtime']);?></span>
								</td>
								<td style="width:120px;white-space:unset">
									<eq name="vo.user_type" value="1"> <span style="color: red">一级代理</span> </eq>
									<eq name="vo.user_type" value="2"> <span style="color: red">二级代理</span> </eq>
									<eq name="vo.user_type" value="3"> <span style="color: red">三级代理</span> </eq>
									<eq name="vo.user_type" value="4"> <span style="color: red">普通用户</span> </eq>
								</td>
                                <td>{$vo.two}人</td>
                                <td>{$vo.three}人</td>
                                <td>{$vo.all}人</td>

                                <td>
                                    <a class="btn btn-primary btn-xs" href="{:U('User/edit')}?id={$vo.id}">编辑</a>
						            <input type="button" class="ajax-get btn btn-danger btn-xs" value="取消代理" onclick="cancelagent('{$vo['id']}');"/>
						            </eq>
						        </td>
							</tr>
						</volist>
						<else/>
						<td colspan="12" class="text-center empty-info"><i class="glyphicon glyphicon-exclamation-sign"></i>暂无数据</td>
					</notempty>
					</tbody>
				</table>
			</form>
			<div class="page">
				<div>{$page}</div>
			</div>
		</div>
	</div>
</div>

<include file="Public:footer" />
<script type="text/javascript">
    function cancelagent(id) {
        var uid = parseInt(id);
        if (uid == "" || uid == null || uid <=0) {
            layer.alert('参数错误！');
            return false;
        }
        layer.load(0, {shade: [0.5,'#8F8F8F']});
        $.post("{:U('User/cancelagent')}", {
            id: uid
        }, function (data) {
            setTimeout("closetanchu()",2000);
            if (data.status == 1) {
                layer.msg(data.info, {
                    icon: 1
                });
                setTimeout("shuaxin()",1000);
            } else {
                layer.msg(data.info, {
                    icon: 2
                });
            }
        }, "json");
    }
</script>
<script type="text/javascript">
    function closetanchu(){
        layer.closeAll('loading');
    }
    function shuaxin(){
        window.location.href=window.location.href;
    }
</script>
<block name="script">
	<script type="text/javascript" charset="utf-8">
		//导航高亮
		highlight_subnav("{:U('User/agent')}");
	</script>
</block>


