<include file="Public:header"/>
<div id="main-content">
	<div id="top-alert" class="fixed alert alert-error" style="display: none;">
		<button class="close fixed" style="margin-top: 4px;">&times;</button>
		<div class="alert-content">警告内容</div>
	</div>
	<div id="main" class="main">
		<div class="main-title-h">
			<span class="h1-title">充币列表</span>
			<div class="fr">
			    <button class="btn btn-warning" onClick="location.href='{:U('Finance/myzr')}'">初始化搜索</button>
		    </div>
		</div>

		<div class="cf">

			<div class="search-form fl cf" style="float: none !important;">
				<div class="sleft">
					<form name="formSearch" id="formSearch" method="get" name="form1">
						<select style="width:120px;float:left;margin-right:10px;" name="field" class="form-control">
							<option value="id" <empty name="Think.get.field" value="id" >selected</empty> >UID</option>
							<option value="username" <eq name="Think.get.field" value="username">selected</eq> >邮箱账号</option>
							<option value="phone" <eq name="Think.get.field" value="phone">selected</eq> >手机号码</option>
						</select>
						<input type="text" name="search" class="search-input form-control  " value="{$Think.get.search}" placeholder="请输入查询内容" style="">
						<a class="sch-btn" href="javascript:;" id="search"> <i class="btn-search"></i> </a>
					</form>
					<script>
						//搜索功能
						$(function () {
							$('#search').click(function () {
								$('#formSearch').submit();
							});
						});
						//回车搜索
						$(".search-input").keyup(function (e) {
							if (e.keyCode === 13) {
								$("#search").click();
								return false;
							}
						});
					</script>
				</div>
				<div style=" float: right; width: 480px;">
					<span class="h1-title">当前页面通过总充值</span>
					USDT:<span class="h1-title">{$usdt_all_recharge} </span>
					BTC:<span class="h1-title">{$btc_all_recharge} </span>
					ETH:<span class="h1-title">{$eth_all_recharge} </span>
				</div>
			</div>
		</div>
		<div class="data-table table-striped">
			<table class="">
				<thead>
				<tr>
					<th class="">ID</th>
					<th class="">UID</th>
					<th class="">用户名</th>
					<th class="">上级代理人(UID)</th>
					<th width="">操作</th>
					<th width="">充值数量/实际到账(U)</th>
					<th width="">银行卡充值信息</th>
					<th width="">充值类型/币种/状态</th>
					<th width="">转账凭证</th>
					<th width="">充值/处理(时间)</th>
				</tr>
				</thead>
				<tbody>
				<notempty name="list">
					<volist name="list" id="vo">
						<tr>
							<td>{$vo.id}</td>
							<td>{$vo.uid}</td>
							<td><span style="color: red">{$vo.username}</span> <p/> <span style="color: green">{$vo.phone}</span></td>
							<td style="width:120px;white-space:unset">
								<neq name="vo.invit_1">uid：{$vo['invit_1']['id']}<br></neq>
								<neq name="vo.invit_1">账号：<br></neq>
								<span style="color: red"> {$vo['invit_1']['username']} </span> <p/>
								<span style="color: green">{$vo['invit_1']['phone']}</span> <br>
								<?php  if($vo['invit_1']['type'] == 1){ ?>
								<span style="color:red;">正式</span>
								<?php }else{ ?>
								<span style="color:blue;">虚拟</span>
								<?php } ?>
<!--								<eq name="$vo['invit_1']['type']" value="1"><span style="color:blue;">正式</span></eq>-->
<!--								<eq name="$vo['invit_1']['type']" value="2"><span style="color:blue;">正式</span></eq>-->
							</td>
							<td>
                                <eq name="vo.status" value="1">
                                    <input type="button" class="ajax-get btn btn-primary btn-xs" value="确认" onclick="Upzr('{$vo['id']}');"/>
                                    <input type="button" class="ajax-get btn btn-primary btn-xs" value="驳回" onclick="Upbhzr('{$vo['id']}');"/>
                                </eq>
								<br>
                                <eq name="vo.status" value="2"><span style="color:blue;">已处理</span></eq>
                                <eq name="vo.status" value="3"><span style="color:blue;">已处理</span></eq>
								<br>
                                <?php if(session('admin_role') == 1){  ?>
                                <input type="button" class="ajax-get btn btn-primary btn-xs" value="删除" onclick="del('{$vo['id']}');"/>
                                <?php  }  ?>
                            </td>

							<td>充值(U):{$vo['num']}<br>
							到账(U):{$vo['real_num']}</td>
							
						    <td>{$vo['remark']}</td>
							<?php if( $vo['type'] == 1){ ?>
							<td ><span style="color:red; font-weight:bold">客户充值</span><br>
								充值币种:<?php echo strtoupper($vo['coin']);?><br>
								状态:<eq name="vo.status" value="1">
								    <span style="color:blue;font-weight:bold">等待审核</span>
								</eq>
								<eq name="vo.status" value="2">
								    <span style="color:green;font-weight:bold">审核通过</span>
								</eq>
								<eq name="vo.status" value="3">
								    <span style="color:darkblue;font-weight:bold ">驳回充值</span>
								</eq></td>
							<?php }else{ ?>
							      <td>
									  <span style="color:orange;font-weight:bold">人工充值</span><br>
								充值币种:<?php echo strtoupper($vo['coin']);?><br>
								状态:<eq name="vo.status" value="1">
								    <span style="color:blue;font-weight:bold">等待审核</span>
								</eq>
								<eq name="vo.status" value="2">
								    <span style="color:green;font-weight:bold">审核通过</span>
								</eq>
								<eq name="vo.status" value="3">
								    <span style="color:darkblue;font-weight:bold">驳回充值</span>
								</eq></td>
							<?php  }?>
						
					   		<td>
								<eq name="vo.type" value="1">   <img src="/Public/Static/payimgs/{$vo.payimg}" style="height:60px;"/></eq>
								<eq name="vo.type" value="2">后台人工充值</eq>
								<eq name="vo.type" value="3">后台彩金赠送</eq>
							</td>


							<td>充值时间:<br>{$vo.addtime}<br>
								处理时间:<br>{$vo.updatetime}</td>
						</tr>
					</volist>
					<else/>
					<td colspan="12" class="text-center empty-info"><i class="glyphicon glyphicon-exclamation-sign"></i>暂无数据</td>
				</notempty>
				</tbody>
			</table>
			<div class="page">
				<div>{$page}</div>
			</div>
		</div>
	</div>
</div>
<include file="Public:footer"/>
<script type="text/javascript">
    function Upbhzr(id) {
        var zcid = parseInt(id);
        if (zcid == "" || zcid == null || zcid <=0) {
            layer.alert('参数错误！');
            return false;
        }
        layer.load(0, {shade: [0.5,'#8F8F8F']});
        $.post("{:U('Finance/rejectzr')}", {
            id: zcid
        }, function (data) {
            setTimeout("closetanchu()",2000);
            if (data.status == 1) {
                layer.msg(data.info, {
                    icon: 1
                });
                setTimeout("shuaxin()",1000);
            } else {
                layer.msg(data.info, {
                    icon: 2
                });
            }
        }, "json");
    }
</script>
<script type="text/javascript">
    function Upzr(id) {
        var zcid = parseInt(id);
        if (zcid == "" || zcid == null || zcid <=0) {
            layer.alert('参数错误！');
            return false;
        }
        layer.load(0, {shade: [0.5,'#8F8F8F']});
        $.post("{:U('Finance/adoptzr')}", {
            id: zcid
        }, function (data) {
            setTimeout("closetanchu()",2000);
            if (data.status == 1) {
                layer.msg(data.info, {
                    icon: 1
                });
                setTimeout("shuaxin()",1000);
            } else {
                layer.msg(data.info, {
                    icon: 2
                });
            }
        }, "json");
    }
    
    
    function del(id) {
        var zcid = parseInt(id);
        if (zcid == "" || zcid == null || zcid <=0) {
            layer.alert('参数错误！');
            return false;
        }
        layer.confirm('是否删除？', {
          btn: ['是','否'] //按钮
        }, function(){
            layer.load(0, {shade: [0.5,'#8F8F8F']});
             $.post("{:U('Finance/del')}", {
                    id: zcid
                }, function (data) {
                    setTimeout("closetanchu()",2000);
                    if (data.status == 1) {
                        layer.msg(data.info, {
                            icon: 1
                        });
                        setTimeout("shuaxin()",1000);
                    } else {
                        layer.msg(data.info, {
                            icon: 2
                        });
                    }
                }, "json");          
        });
   
    }
</script>
<script type="text/javascript">
    function closetanchu(){
        layer.closeAll('loading');
    }
    function shuaxin(){
        window.location.href=window.location.href;
    }
</script>
</script>
<block name="script">
	<script type="text/javascript" charset="utf-8">
		//导航高亮
		highlight_subnav("{:U('Finance/myzr')}");
	</script>
</block>