<include file="Public:header"/>
<div id="main-content">
	<div id="top-alert" class="fixed alert alert-error" style="display: none;">
		<button class="close fixed" style="margin-top: 4px;">&times;</button>
		<div class="alert-content">警告内容</div>
	</div>
	<div id="main" class="main">
		<div class="main-title-h">
			<span class="h1-title">矿机收益列表</span>
			<div class="fr">
				<button class="btn btn-warning" onClick="location.href='{:U('Kuangm/kjsylist')}'">初始化搜索</button>
			</div>
		</div>
		<div class="cf">
            <div class="search-form fr cf" style="43px;float: none !important;">
				<div class="sleft">
					<form name="formSearch" id="formSearch" method="get" name="form1">
						<select style="width:120px;float:left;margin-right:10px;" name="field" class="form-control">
							<option value="id" <empty name="Think.get.field" value="id" >selected</empty> >UID</option>
							<option value="username" <eq name="Think.get.field" value="username">selected</eq> >邮箱账号</option>
							<option value="phone" <eq name="Think.get.field" value="phone">selected</eq> >手机号码</option>
						</select>

						<input type="text" name="search" class="search-input form-control" value="{$Think.get.search}" placeholder="请输入查询内容" style="">
						<a class="sch-btn" href="javascript:;" id="search"> <i class="btn-search"></i> </a>
					</form>
					<script>
						//搜索功能
						$(function () {
							$('#search').click(function () {
								$('#formSearch').submit();
							});
						});
						//回车搜索
						$(".search-input").keyup(function (e) {
							if (e.keyCode === 13) {
								$("#search").click();
								return false;
							}
						});
					</script>
				</div>
			</div>
		</div>
		<div class="data-table table-striped">
			<table class="">
				<thead>
				<tr>
					<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
					<th class="">UID</th>
					<th class="">会员账号</th>
					<th class="">矿机名称</th>
					<th class="">收益额度</th>
					<th class="">收益币种</th>
					<th class="">收益时间</th>
				</tr>
				</thead>
				<tbody>
				<notempty name="list">
					<volist name="list" id="vo">
						<tr>
							<td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}"/></td>
							<td>{$vo.uid}</td>
							<td><span style="color: red">{$vo.username}</span> </p> <span style="color: green">{$vo.phone}</span></td>
							<td>{$vo.ktitle}</td>
							<td>{$vo.num}</td>
							<td>{$vo.coin}</td>
							<td>{$vo.addtime}</td>
						</tr>
					</volist>
					<else/>
					<td colspan="12" class="text-center empty-info"><i class="glyphicon glyphicon-exclamation-sign"></i>暂无数据</td>
				</notempty>
				</tbody>
			</table>
			<div class="page">
				<div>{$page}</div>
			</div>
		</div>
	</div>
</div>
<include file="Public:footer"/>
<block name="script">
	<script type="text/javascript" charset="utf-8">
		//导航高亮
		highlight_subnav("{:U('Kuangm/kjsylist')}");
	</script>
</block>